.bootstrap-wp-admin{
	margin-top:10px;
}

.bootstrap-wp-admin .alert {
	margin-bottom:0px;
}

.bootstrap-wp-admin form .error{
	margin-bottom:0px;
}

.bootstrap-wp-admin form .wp-editor-tabs a{
	padding:5px;
	padding-bottom:20px;
	height:20px;
	border-color: #dfdfdf #dfdfdf #ccc;
}

.bootstrap-wp-admin form .wp-editor-tabs a:hover{
	border:none;
}

.bootstrap-wp-admin .alert ul{
	margin-top:5px;
}

/*
 * RiderOrder Form
 */
 
 #riderOrder .customer{
	 width:100px;
 }
 
  #riderOrder .address{
	 max-width:225px;
 }

 #riderOrder .address .via{
 	color: #999;
 }
 
  #riderOrder td{
	  vertical-align:middle;
  }
  
/*
 * Table 
 */
 
 
 .table td{
	 font-weight:normal;
 }

 .table .action{
 	text-align: center;
 	width:100px;
 }

 .table .date{
 	width:150px;
	text-align:center;
 }

 span.glyphicon.table-sorter{
	 font-size:10px;
	 margin-left:5px;
 } 
 
 .table .costumer{
	 width:140px;
 }

  /*
  * Rider Order Search
  */
  
  .form_date_search {
	  width:150px;
  }